body {
    background-image: url("../img/soccer_field_311115.jpg");
}

.row {
border: 10px solid black;
margin: 5%;
text-align: center;
}

h1 {
text-align: center 
}

.start {
    margin-top: 35%;
}

.during {
   
}
